@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
$font-stack-primary: 'Raleway',sans-serif;
$color-font-primary: #6B6B6B;
$color-primary: #58E1C1;
$color-secondary: #51DDFC;

//button colors
$color-btn-success: #63CC82 ;
$color-btn-error: #E4757A;
$color-btn-warning: #FD7856 ;
$color-btn-info: #927BC1 ;

//column colors
$color-col-12: #80E8D1 ;
$color-col-6: #3FABCA ;
$color-col-4: #7EE6FD ;
$color-col-3: #DEB2EE ;
$color-col-5: #88D9A0 ;
$color-col-7: #EC9FA3 ;
$color-col-8: #FD9F85 ;




//Breakpoints

$brk-narrow: 768px ;
$brk-wide: 1024px;
